*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
#container{
	width: 600px;
	height: 480px;
	border:5px solid #EEE;
	margin: 30px auto;
	position: relative;
	overflow: hidden;
}
#list{
	width: 4200px;
	position: absolute;
	z-index: 1;
}
#list img{
	float: left;
}
#buttons{
	height: 12px;
	width: 110px;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 250px;
}
#buttons span{
	float: left;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #FFF;
	margin-right: 10px;
	cursor: pointer;
}
#buttons .on{
	background-color: yellow;
}
.arrow{
	z-index: 2;
	position: absolute;
	top: 190px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	display: none;
	cursor: pointer;
}
#prev{
	left: 20px;
}
#next{
	right: 20px;
}
#container:hover .arrow{
	display: block;
}
.arrow:hover{
	background-color: rgba(0,0,0,0.7);
}	